<table id="college" border="0" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <th class="table-header-repeat line-left "><a>Name</a></th>
    <th class="table-header-repeat line-left "><a>RollNo</a></th>
    <th class="table-header-repeat line-left "><a>EmailAdd</a></th>
    <th class="table-header-repeat line-left "><a>Score</a></th>
    <th class="table-header-repeat line-left "><a>Branch</a></th>
    <th class="table-header-repeat line-left "><a>Role</a></th>
    <th class="table-header-repeat line-left "><a>CodePairing</a></th>
    <th class="table-header-repeat line-left "><a>PairingStatus</a></th>
    <th class="table-header-repeat line-left "><a>Comment</a></th>
    <% if @pool == true %>
        <th class="table-header-repeat line-left"><a>College</a></th>
    <% end %>
  </tr>

  <% @applicant.each do |app| %>

      <tr>
        <td><%= app.Name %></td>
        <td><%= app.RollNo %></td>
        <td><%= app.EmailAdd %></td>
        <td><%= app.Score %></td>
        <td><%= app.Branch %> </td>
        <td style="text-align: center; padding: 5px;">
          <%= text_field :applicant, :role, :class => "Role", :value => app.Role,
                         :id => "#{app.id}", :onchange => "autoSave(this)", :style => 'width: 80px; height: 15px;' %>
        </td>
        <td style="text-align: center; padding: 5px;">
          <%= text_field :applicant, :logic_pursues, :class => "CodePairing", :value => app.CodePairing,
                         :id => "#{app.id}", :onchange => "autoSave(this)", :style => 'width: 120px; height: 15px;' %>
        </td>

        <td style="text-align: center; padding: 5px;">
          <%= radio_button_tag "#{app.id}", 'pursue', (app.PairingStatus), :value => true,
                               :class => "PairingStatus", :onchange => "autoSave(this)", :style => 'width: 15px;' %>
          pursue
          &nbsp;
          <%= radio_button_tag "#{app.id}", 'pass', !(app.PairingStatus),
                               :value => false, :class => "PairingStatus",
                               :onchange => "autoSave(this)", :style => 'width: 15px;' %>
          pass
        </td>

        <td style="text-align: center; padding: 5px;">
          <%= text_field :applicant, :comment, :class => "Comment", :value => app.Comment,
                        :id => "#{app.id}", :onchange => "autoSave(this)", :rows => 2, :cols => 40 %>


        </td>
        <% if @pool == true %>
            <td style="text-align: left;"><%= College.find_by_id(app.collegeId).name %> </td>
        <% end %>
      </tr>
  <% end %>
</table>
<%= paginate @applicant %>