<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">

  <tr>
    <td id="tbl-border-left"></td>
    <td>
      <div id="content-table-inner">

        <!--  start table-content  -->
        <div id="table-content">
          <form id="mainform" action="">

          <table id="applicants2" class="display" border="0" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <th  class="line-left " style="text-align: left;">Name</th>
    <th  class="line-left " style="text-align: left;">RollNo</th>
    <th  class="line-left " style="text-align: left;">Score</th>
    <th  class="line-left " style="text-align: left;">Branch</th>
    <th  class="line-left " style="text-align: left;">Role</th>
    <th  class="line-left " style="text-align: left;">FirstTech</th>
    <th  class="line-left " style="text-align: left;">FirstStatus</th>
    <th  class="line-left " style="text-align: left;">Comment</th>
  </tr>

  <% @applicant.each do |app| %>

      <tr>
        <td><%= app.Name %></td>
        <td><%= app.RollNo %></td>
        <td><%= app.Score %></td>
        <td><%= app.Branch %> </td>
        <td><%= text_field :applicant ,:role, :class => "Role",:value => app.Role, :id => "#{app.id}", :onchange => "autoSave(this)" %></td>
        <td><%= text_field :applicant ,:firstTech, :class => "FirstTech",:value => app.FirstTech, :id => "#{app.id}", :onchange => "autoSave(this)" %></td>
        <td><%= radio_button_tag "#{app.id}",'pursue', (true || app.FirstStatus),:value => true,:class => "FirstStatus", :onchange => "autoSave(this)", :style => 'width: 80px; height: 15px;' %> pursue
          <br><%= radio_button_tag "#{app.id}",'pass',!(false || app.FirstStatus) , :value => false,:class => "FirstStatus",:onchange => "autoSave(this)",:style => 'width: 80px; height: 15px;'%> pass</td>

        <td><%= text_field :applicant ,:comment, :class => "Comment",:value => app.Comment, :id => "#{app.id}", :onchange => "autoSave(this)" %></td>

      </tr>

  <% end %>



</table>
          </form>
        </div>
      </div>
    </td>
  </tr>
</table>
<br>

