<% content_for :title do %>
    CampusHunter - Code Pairing
<% end %>

<div id="page-heading" xmlns="http://www.w3.org/1999/html">
  <h1>Code Pairing Round</h1>
  <br/> <br/>

  <%= form_tag({:action => 'firstTech'}, {:method => 'get'}) do %>
      <div style="float: left; padding-bottom: 5px;">
        <%= hidden_field_tag :collegename, params[:collegename] %>
        <% if @pool == true %>
        <a href="/applicant/download/<%= "CodePairing" %>/<%= "#{@college.name}" %>.csv">
          <input type="button" value="Download csv" class="submit-shortList">
        </a>
            <% else %>
            <a href="/applicant/download/<%= "CodePairing" %>/<%= "#{@college.id}" %>/<%= "#{@college.name}" %>.csv">
              <input type="button" value="Download csv" class="submit-shortList">
            </a>
        <% end %>
        &nbsp; &nbsp;
        <% if @pool == true %>
        <a href="/applicant/download_for_campus/<%= "#{@college.name}" %>.csv">
          <input type="button" value="CSV For Campus" class="submit-shortList">
        </a>
            <% else %>
            <a href="/applicant/download_for_campus/<%= "#{@college.id}" %>/<%= "#{@college.name}" %>.csv">
              <input type="button" value="CSV For Campus" class="submit-shortList">
            </a>
            <% end %>
        &nbsp; &nbsp;
        <%= submit_tag("Next Round", :class => "submit-shortList") %>
      </div>
  <% end %>

  <div style=" float: right;">
    <%= search_field_tag "search", nil, :placeholder => "search",
                         :college_name => "#{@college.name}",
                         :partial => "codePairing_table",
                         :collegename => @college.name,
                         :LogicPursued => "true",
                         :ParingPursued => "false",
                         :FirstTechPursued => "false",
                         :FinalPursued => "false" %>
  </div>
</div>
<div class="clear"></div>
<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
  <tr>

    <th class="topleft"></th>
    <td id="tbl-border-top">&nbsp;</td>
    <th class="topright"></th>
  </tr>
  <tr>
    <td id="tbl-border-left"></td>
    <td>
      <div id="content-table-inner">
        <div id="applicants">
          <%= render 'codePairing_table' %>
        </div>
      </div>

      <div class="clear"></div>
    </td>
    <td id="tbl-border-right"></td>
  </tr>
  <tr>
    <th class="sized bottomleft"></th>
    <td id="tbl-border-bottom">&nbsp;</td>
    <th class="sized bottomright"></th>
  </tr>
</table>













