<% content_for :title do %>
    CampusHunter - First Technical
<% end %>

<div id="page-heading" xmlns="http://www.w3.org/1999/html">
  <h1>First Technical Round</h1>
  <br/><br/>

  <%= form_tag({:action => 'secondTech', :id=>params[:id], :type=> params[:type]}, {:method => 'post'}) do %>
      <div style="float: left; padding-bottom: 5px;">
        <% if @pool == true %>
        <a href="/applicant/download/<%= "FirstTech" %>/<%= "#{@college.name}" %>/<%= "#{@college.name}" %>.csv">
          <input type="button" value="Download csv" class="submit-shortList">
        </a>
            <% else %>
            <a href="/applicant/download/<%= "FirstTech" %>/<%= "#{@college.id}" %>/<%= "#{@college.name}" %>.csv">
              <input type="button" value="Download csv" class="submit-shortList">
            </a>
            <% end %>
        &nbsp; &nbsp;
        <% if @pool == true %>
            <a href="/applicant/download_for_campus/<%= "FirstTech" %>/<%= "#{@college.name}" %>/<%= "#{@college.name}" %>.csv">
              <input type="button" value="CSV For Campus" class="submit-shortList">
            </a>
        <% else %>
            <a href="/applicant/download_for_campus/<%= "FirstTech" %>/<%= "#{@college.id}" %>/<%= "#{@college.name}" %>.csv">
              <input type="button" value="CSV For Campus" class="submit-shortList">
            </a>
        <% end %>
        &nbsp; &nbsp;
        <%= submit_tag("Next Round", :class => "submit-shortList") %>
      </div>
  <% end %>

  <div style=" float: right;">
    <%= if @pool.present?
          search_field_tag "search", nil, :placeholder => "search",
                           :partial => "firstTech_table", :poolname => @college.name , :year => @college.year,
                           :LogicPursued => "false",
                           :ParingPursued => "true",
                           :FirstTechPursued => "false",
                           :FinalPursued => "false"
        else
          search_field_tag "search", nil, :placeholder => "search",
                           :partial => "firstTech_table", :collegeId => @college.id,
                           :LogicPursued => "false",
                           :ParingPursued => "true",
                           :FirstTechPursued => "false",
                           :FinalPursued => "false"

        end
    %>
  </div>
</div>
<div class="clear"></div>
<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
  <tr>

    <th class="topleft"></th>
    <td id="tbl-border-top">&nbsp;</td>
    <th class="topright"></th>

  </tr>
  <tr>
    <td id="tbl-border-left"></td>
    <td>
      <div id="content-table-inner">
        <div id="applicants">
          <%= render 'firstTech_table' %>
        </div>
      </div>

      <div class="clear"></div>
    </td>
    <td id="tbl-border-right"></td>
  </tr>
  <tr>
    <th class="sized bottomleft"></th>
    <td id="tbl-border-bottom">&nbsp;</td>
    <th class="sized bottomright"></th>
  </tr>
</table>






