
<%= javascript_include_tag "application" %>
<h1>Logic Pursues</h1>

<p><%= link_to "Shortlist", url = "/applicant/pairing_pursued/#{@college.name}" %></p>
<p> Download :<%= link_to "csv", url = "/applicant/download/#{@college.name}.csv" %></p>
<%= search_field_tag "search" , nil,:placeholder => "search",:partial => "logic_pursued_table"%>
<div id="applicants"><%= render 'logic_pursued_table' %></div>