<% content_for :title do %>
    Logic Pursues
<% end %>

<% content_for :scripts do %>
    <%= javascript_include_tag "jquery.selectbox-0.5" %>
    <%= javascript_include_tag "applicant" %>
<% end %>

<% content_for :styles do %>
    <%= stylesheet_link_tag "pro_dropline_ie" %>
    <%= stylesheet_link_tag "pro_dropline" %>
<% end %>

<div id="page-heading">
  <h1>Logic Pursues </h1>
  <br><br>

  <div style="float: left; padding-bottom: 5px;">
    <%= link_to "Download csv", url = "/applicant/download/#{@college.name}.csv", :id => "addNewCollege", :style => "color: #4b4b4b;" %>
    &nbsp; &nbsp;
    <%= link_to "Shortlist Candidates", url = "/applicant/pairing_pursued/#{@college.name}", :id => "addNewCollege", :style => "color: #4b4b4b;" %>
  </div>

  <div style=" float: right;">
    <%= search_field_tag "search", nil, :placeholder => "search", :college_name => "#{@college.name}",
                         :partial => "logic_pursued_table",
                         :collegename => @college.name, :LogicPursued => "true",
                         :ParingPursued => "false", :FirstTechPursued => "false", :FinalPursued => "false" %>
  </div>

</div>
<div class="clear"></div>
<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
  <tr>

    <th class="topleft"></th>
    <td id="tbl-border-top">&nbsp;</td>
    <th class="topright"></th>

  </tr>
  <tr>
    <td id="tbl-border-left"></td>
    <td>
      <div id="content-table-inner">
        <div id="applicants">
          <%= render 'logic_pursued_table' %>
        </div>
      </div>
      <table border="0" cellpadding="0" cellspacing="0" id="paging-table">
        <tr>
          <td>
            <a href="" class="page-far-left"></a>
            <a href="" class="page-left"></a>

            <div id="page-info">Page <strong>1</strong> / 15</div>
            <a href="" class="page-right"></a>
            <a href="" class="page-far-right"></a>
          </td>
          <td>
            <select class="styledselect_pages">
              <option value="">Number of rows</option>
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
            </select>
          </td>
        </tr>
      </table>
      <div class="clear"></div>
    </td>
    <td id="tbl-border-right"></td>
  </tr>
  <tr>
    <th class="sized bottomleft"></th>
    <td id="tbl-border-bottom">&nbsp;</td>
    <th class="sized bottomright"></th>
  </tr>
</table>













