<h1>Applicant's Details</h1>
<<<<<<< HEAD
<table style="border:1px solid black;border-collapse:collapse;">

=======
<table border="1">
  <tr>
    <th>Name</th>
    <th>Score</th>
    <th>Branch</th>
    <th>Role</th>
    <th>CodePairing</th>
    <th>PairingStatus</th>
    <th>FirstTech</th>
    <th>FirstStatus</th>
    <th>SecondTech</th>
    <th>Result</th>
    <th>Comment</th>
  </tr>
>>>>>>> 6e05fc1398a84a49baefd7b7577813b16ca9b903
  <% @applicant.each do |app|  %>

      <tr>
        <td style="border:1px solid black;"><%= app.Name %></td>
        <td style="border:1px solid black;"><%= app.Score %></td>
        <td style="border:1px solid black;"><%= app.Branch %> </td>
        <td style="border:1px solid black;"><%= app.Role %> </td>
        <td style="border:1px solid black;"><%= app.CodePairing %></td>
        <td style="border:1px solid black;"><%= app.PairingStatus %> </td>
        <td style="border:1px solid black;"><%= app.FirstTech %></td>
        <td style="border:1px solid black;"><%= app.FirstStatus %></td>
        <td style="border:1px solid black;"><%= app.SecondTech %></td>
        <td style="border:1px solid black;"><%= app.Result %> </td>
        <td style="border:1px solid black;"><%= app.Comment %></td>
      </tr>

  <% end %>

</table>