<h1>Applicant's Details</h1>

<p> Download :<%= link_to "csv" , url = "/applicant/download/#{@applicant[0].college}.csv"%></p>

<%= form_tag :action => 'show' do %>
    <p>
      <%= hidden_field_tag :collegename, params[:collegename] %>
      <%= label_tag(:cutoff, "CUTOFF") %>
      <%= text_field_tag(:cutoff) %>
      <%= submit_tag("ENTER") %>
    </p>

<% end %>
<div id="project"><%= render 'project' %></div>
<br>
