<h1>Applicant's Details</h1>

<%= form_tag :action => 'show' do %>
    <p>
      <%= hidden_field_tag :collegename, params[:collegename] %>
      <%= label_tag(:cutoff, "CUTOFF") %>
      <%= text_field_tag(:cutoff) %>
      <%= submit_tag("ENTER") %>
      <%=link_to "Generate List" , url = "/applicant/pursued/#{@applicant[0].college}"%>
    </p>
<% end %>

<table id="applicants2"  class="display">
<thead>
<tr>
  <th>Name</th>
  <th>Roll No</th>
  <th>Gender</th>
  <th>Email Address</th>
  <th>Qualification</th>
  <th>Specification</th>
  <th>Percentage</th>
  <th>Score</th>
</tr>
</thead>

<tbody>
<% @applicant.each do |app|  %>

    <tr>
      <td><%= app.Name %></td>
      <td><%= app.RollNo %></td>
      <td><%= app.Gender %> </td>
      <td><%= app.EmailAdd %> </td>
      <td><%= app.Qualification %></td>
      <td><%= app.Branch %> </td>
      <td><%= app.Percentage %></td>
      <td><%= text_field :applicant ,:score, :value => app.Score, :id => "#{app.id}", :onchange => "autoSave(this)" %></td>
    </tr>

<% end %>
</tbody>

</table>
<br>
