<% content_for :title do %>
    CampusHunter - Applicant's Details
<% end %>

<% content_for :scripts do %>
  <%= stylesheet_link_tag "jquery-ui" %>
  <%= javascript_include_tag "jquery-ui.min" %>
    <script type="text/javascript" language="JavaScript">

        $(function () {

            $("#slider-range-max").slider({

                range:"max",
                min:0,
                max:12,
                value:<%= @college.cutoff %>,
                slide:function (event, ui) {
                    $("#cutoff").val(ui.value);
                    if($('#college_id').length ) {
                        $.get("/applicant/show_selected", {cutoff:ui.value, collegeId:$('#college_id').val(),
                            partial:$('#search').attr("partial") }, null, "script");
                    }
                    else {
                       $.get("/applicant/show_selected", {cutoff:ui.value, poolname:$('#poolname').val(),
                           partial:$('#search').attr("partial") }, null, "script");
                    }
                }
            });
            $("#cutoff").val(<%= @college.cutoff %>);
        });

    </script>
<% end %>

<div id="page-heading">
  <h1> <%= params[:collegeId].nil? ? params[:poolname] : @college.name %> </h1>
  <br/>
  <h2>Applicant's Details </h2>
  <br/> <br/>

  <%= form_tag({:action => 'codePairing'}, {:method => 'get'}) do %>
      <%= if @pool
            hidden_field_tag :poolname, params[:poolname]
          else
            hidden_field_tag :college_id, params[:collegeId]
          end  %>
      <%= hidden_field_tag :round, params[:round]%>
      <div style="float: left; padding-bottom: 5px;">
        <table>
          <tr>
            <td> CUTOFF&nbsp;: &nbsp;&nbsp; </td>
            <td>
              <div id="slider-range-max" style="width: 200px; height: 12px; margin-bottom: 0px;"></div>

            </td>
            <td>   &nbsp;&nbsp;
              <input type="text" id="cutoff" name="cutoff" style="border: 0; color: #b0c4de; font-weight: bold; font-size: 13px; width: 20px;"/>
            </td>
            <td> &nbsp;&nbsp; &nbsp;&nbsp;<%= submit_tag("Save & Proceed", :class => "submit-shortList") %></td>
          </tr>
        </table>

      </div>

      <div style=" float: right;">
        <%= search_field_tag "search", nil, :placeholder => "search",
                             :partial => "show_table", :collegename => @college.name %>
      </div>
  <% end %>
</div>

<div class="clear"></div>

<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
  <tr>
    <th class="topleft"></th>
    <td id="tbl-border-top">&nbsp;</td>
    <th class="topright"></th>
  </tr>
  <tr>
    <td id="tbl-border-left"></td>
    <td>
      <div id="content-table-inner">
        <div id="applicants">
          <%= render 'show_table' %>
        </div>
      </div>

      <div class="clear"></div>

    </td>

    <td id="tbl-border-right"></td>
  </tr>
  <tr>
    <th class="sized bottomleft"></th>
    <td id="tbl-border-bottom">&nbsp;</td>
    <th class="sized bottomright"></th>
  </tr>
</table>