

<h2>Applicant's Details</h2>
<%= javascript_include_tag "application" %>
<br/>

<%= form_tag :action => 'logic_pursued' do %>
    <%= hidden_field_tag :collegename, params[:collegename] %>
    <div style="float: left;">

      <!--CUTOFF: &nbsp;-->
      <%= text_field_tag :cutoff, nil, :id => "cutoff" ,:placeholder => "cutoff", :partial => "show_table",:style => 'width: 100px; height: 15px; margin-bottom: 0px;  ' %>

    </div>
    <div style=" float: right; padding-bottom: 10px; ">
      <%= submit_tag("Shortlist Candidates", :class => "btn") %>
    </div>
<% end %>

<%= search_field_tag "search" , nil,:placeholder => "search",:partial => "show_table"%>

<div id="applicants"><%= render 'show_table' %></div>
