<% content_for :title do %>
    CampusHunter - Add New User
<% end %>


<% content_for :scripts do %>
    <script type="text/javascript">

        function changeId() {
            $('#loginbox').attr('id', 'signup');
        }
    </script>
<% end %>


<%= form_for :user, :url => {:action => :create} do |f| %>
    <div id="login-holder">
      <div id="logo-login">
        <img style="width: 156px; height: 40px;" src="/assets/shared/logo.png" alt="Logo"/>
      </div>
      <div class="clear"></div>
      <div id="loginbox">
        <div id="login-inner" style="width: 400px;">
          <table border="0" cellpadding="0">
            <tr>
              <td colspan="2">
                <div id="message-red">
                  <div id="errorContainer" style="text-decoration-color: maroon; color: maroon;">
                    <%= @message %>
                  </div>
                  <% if @user.errors.any? %>
                      <%= javascript_tag "changeId();" %>
                      <table border="0" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="red-left">
                            <ul>
                              <% @user.errors.full_messages.each do |message| %>
                                  <li><%= message %></li>
                              <% end %>
                            </ul>
                          </td>
                        </tr>
                      </table>
                  <% end %>
                </div>
              </td>
            </tr>
            <tr>
              <th><%= f.label :email %></th>
              <td>
                <%= f.text_field :email, :class => "login-inp" %>
              </td>
            </tr>
            <tr>
              <th><%= f.label :password %></th>
              <td>
                <%= f.password_field :password, :class => "login-inp" %>
              </td>
            </tr>
            <tr>
              <th style="width: 160px;"> <%= f.label "Re-enter Password" %></th>
              <td>
                <%= f.password_field :password_confirmation, :class => "login-inp" %>

              </td>
            </tr>
            <tr>
              <th></th>
              <td valign="top"><br/></td>
            </tr>
            <tr>
              <th></th>
              <td>
                <%= f.submit "Add", :label => 'Add', :class => "submit-login" %>
                &nbsp;&nbsp;&nbsp;
                <a href="/college/show">
                  <input type="button" value="Cancel" class="submit-login" style="padding-top: 0px; ">
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
<% end %>





