<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <title>
    <%= yield :title %>
  </title>

  <%= stylesheet_link_tag "screen" %>
  <%= stylesheet_link_tag "pro_dropline_ie" %>
  <%= stylesheet_link_tag "pro_dropline" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.selectbox-0.5" %>
  <%= javascript_include_tag "applicant" %>

  <%= yield :scripts %>
  <%= yield :styles %>

  <script type="text/javascript">
      $(document).ready(
              function () {

                  $('.styledText').mouseover(function () {
                      $('#menuDiv').css("visibility", "visible");
                      $(this).css("color", "#b0c4de");
                  });

                  $('.styledText').mouseout(function () {
                      $('#menuDiv').css("visibility", "hidden");
                      $(this).css('color', '#ffffff');
                  });

                  $('#addNewCollege').mouseover(function () {
                      $(this).css("color", "#b0c4de");
                  });

                  $('#addNewCollege').mouseout(function () {
                      $(this).css("color", "#4b4b4b");
                  });
              }
      )
  </script>
</head>

<body>
<div id="page-top-outer">
  <div id="page-top">
    <div id="logo">
      <a href="/applicant/home">
        <img style="width: 156px; height: 40px;" src="/assets/shared/logo.png" alt="Logo"/>
      </a>
    </div>
  </div>
  <div id="top-search">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="styledText">
          <% if current_user %>
              <%= current_user.email %>
              <div id="menuDiv" style="visibility: hidden;" class="menuItems">
                <ul>
                  <li tabindex="-1"><%= link_to "Add User", sign_up_path %></li>
                  <li tabindex="-1"><%= link_to "Delete User", delete_user_path %></li>
                  <li tabindex="-1"><%= link_to "Logout", log_out_path %></li>
                </ul>
              </div>
          <% else %>
              Welcome
          <% end %>
        </td>
        <td>
        </td>
      </tr>
    </table>
  </div>
  <div class="clear"></div>
</div>
</div>
<div class="clear">&nbsp;</div>

<% if !@college.nil? %>
    <div class="nav-outer-repeat">
      <!--  start nav-outer -->
      <div class="nav-outer">

        <!--  start nav -->
        <div class="nav">


        <% if @pool == true %>
              <span class="select">
              <a href="/applicant/show/<%= "#{@college.name}" %>">
          <b>
            Applicant Details
          </b>
        </a>
              </span>
          <% else %>
                    <span class="select">
        <a href="/applicant/show/<%= "#{@college.id}" %>">
          <b>
            Applicant Details
          </b>
        </a>
        </span>
          <% end %>

          <div class="nav-divider">&nbsp;</div>


          <% if @pool == true %>
              <span class="select">
              <a href="/applicant/codePairing/<%= "#{@college.name}" %>">
          <b>
            Code Pairing
          </b>
        </a>
                  </span>
          <% else %>
              <span class="select">
        <a href="/applicant/codePairing/<%= "#{@college.id}" %>">
          <b>
            Code Pairing
          </b>
          </a>
        </span>
          <% end %>

          <div class="nav-divider">&nbsp;</div>


          <% if @pool == true %>
              <span class="select">
              <a href="/applicant/firstTech/<%= "#{@college.name}" %>">
          <b>
            First Technical
          </b>
        </a>
                  </span>
          <% else %>
              <span class="select">
        <a href="/applicant/firstTech/<%= "#{@college.id}" %>">
          <b>
            First Technical
          </b>
          </a>
        </span>
          <% end %>

          <div class="nav-divider">&nbsp;</div>


          <% if @pool == true %>
              <span class="select">
              <a href="/applicant/secondTech/<%= "#{@college.name}" %>">
          <b>
            Second Technical
          </b>
        </a>
                  </span>
          <% else %>
              <span class="select">
        <a href="/applicant/secondTech/<%= "#{@college.id}" %>">

          <b>
            Second Technical
          </b>
          </a>
        </span>
          <% end %>
              <div class="nav-divider">&nbsp;</div>


          <% if @pool == true %>
              <span class="select">
              <a href="/applicant/final_pursued/<%= "#{@college.name}" %>">
          <b>
            Final Pursues
          </b>
        </a>
                  </span>
              <% else %>
              <span class="select">
          <a href="/applicant/final_pursued/<%= "#{@college.id}" %>">
            <b>
              Final Pursues
            </b>
          </a>
        </span>
          <% end %>

          <div class="clear"></div>
        </div>
        <!--  start nav -->

      </div>
      <div class="clear"></div>
      <!--  start nav-outer -->
    </div>
    <div class="clear"></div>
<% end %>
<div id="content-outer">
  <div id="content">
    <%= yield %>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="clear">&nbsp;</div>
</div>
<div class="clear">&nbsp;</div>
<div id="footer">
  <div id="footer-left">
    &copy; Copyright ThoughtWorks Inc.. <span id="spanYear"></span> <a href="">www.thoughtworks.com</a>.
    All rights reserved.
  </div>
  <div class="clear">&nbsp;</div>
</div>
</body>
</html>