<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <title>
    <%= yield :title %>
  </title>

  <%= stylesheet_link_tag "screen" %>
  <%= stylesheet_link_tag "pro_dropline_ie" %>
  <%= stylesheet_link_tag "pro_dropline" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.selectbox-0.5" %>
  <%= javascript_include_tag "applicant" %>

  <%= yield :scripts %>
  <%= yield :styles %>

  <script type="text/javascript">
      $(document).ready(
              function () {

                  $('.styledText').mouseover(function () {
                      $('#menuDiv').css("visibility", "visible");
                      $(this).css("color", "#b0c4de");
                  });

                  $('.styledText').mouseout(function () {
                      $('#menuDiv').css("visibility", "hidden");
                      $(this).css('color', '#ffffff');
                  });

                  $('#addNewCollege').mouseover(function () {
                      $(this).css("color", "#b0c4de");
                  });

                  $('#addNewCollege').mouseout(function () {
                      $(this).css("color", "#4b4b4b");
                  });
              }
      )
  </script>
</head>

<body>
<div id="page-top-outer">
  <div id="page-top">
    <div id="logo">
      <a href="/college/show">
        <img style="width: 156px; height: 40px;" src="/assets/shared/logo.png" alt="Logo"/>
      </a>
    </div>
  </div>
  <div id="top-search">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="styledText">
          <% if current_user %>
              <%= current_user.email %>
              <div id="menuDiv" style="visibility: hidden;" class="menuItems">
                <ul>
                  <li tabindex="-1"><%= link_to "Add User", sign_up_path %></li>
                  <li tabindex="-1"><%= link_to "Delete User", delete_user_path %></li>
                  <li tabindex="-1"><%= link_to "Logout", log_out_path %></li>
                </ul>
              </div>
          <% else %>
              Welcome
          <% end %>
        </td>
        <td>
        </td>
      </tr>
    </table>
  </div>
  <div class="clear"></div>
</div>
</div>
<div class="clear">&nbsp;</div>

<div class="nav-outer-repeat">
  <!--  start nav-outer -->
  <div class="nav-outer">

    <!--  start nav -->
    <div class="nav">

        <span class="select">
        <a href="#nogo">
          <b>
            Applicant Details
          </b>
        </a>
        </span>

        <div class="nav-divider">&nbsp;</div>

        <span class="select">
        <a href="#nogo">
          <b>
            Code Pairing
          </b>
        </a>
        </span>

        <div class="nav-divider">&nbsp;</div>

        <span class="select">
        <a href="#nogo">
          <b>
            First Technical
          </b>
        </a>
        </span>

        <div class="nav-divider">&nbsp;</div>

        <span class="select">
        <a href="#nogo">
          <b>
            Second Technical
          </b>
        </a>
        </span>

        <div class="nav-divider">&nbsp;</div>

        <span class="select">
        <a href="#nogo">
          <b>
            Final Pursues
          </b>
        </a>
        </span>

        <div class="clear"></div>

      <div class="clear"></div>
    </div>
    <!--  start nav -->

  </div>
  <div class="clear"></div>
  <!--  start nav-outer -->
</div>
<div class="clear"></div>
<div id="content-outer">
  <div id="content">
    <%= yield %>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="clear">&nbsp;</div>
</div>
<div class="clear">&nbsp;</div>
<div id="footer">
  <div id="footer-left">
    &copy; Copyright ThoughtWorks Inc.. <span id="spanYear"></span> <a href="">www.thoughtworks.com</a>.
    All rights reserved.
  </div>
  <div class="clear">&nbsp;</div>
</div>
</body>
</html>