    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
  <title>CampusHunter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
       <%=  link_to "CampusHunter", url="/college/show", class: "brand" %>
        <ul class="nav pull-right">
            <li class="pull-right dropdown">
                 <% if current_user %>
                          <a id="UserName"  class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                            <%= current_user.email %>
                            <b class="caret"></b>
                          </a>
                        <ul class="dropdown-menu pull-right" role="menu">
                          <li tabindex="-1"><%= link_to "Add User", sign_up_path %></li>
                          <li tabindex="-1"><%= link_to "Delete User", delete_user_path %></li>
                          <li tabindex="-1"><%= link_to "Logout", log_out_path %></li>
                        </ul>
                  <% else %>
                     <li  id="UserName" class="pull-right" role="button">Welcome</li>
                  <% end %>
            </li>
        </ul>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="span2">
      <br>
      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
    </div>
    <div class="span 5"><%= yield %></div>
    <div class="span 2"></div>
  </div>
</div>

</body>

</html>
